.form__btn {
  display: flex;
  justify-content: center;
  margin-block: 1.875rem;
  width: 100%;
}

.form__btn button {
  background: linear-gradient(
    to right,
    hsl(var(--primary-color)),
    hsl(var(--secondary-color))
  );
  border: none;
  border-radius: var(--br);
  cursor: pointer;
  letter-spacing: 2px;
  padding: 0.625em 1.25em;
  transition: box-shadow 600ms ease-in-out;
}

.form__btn button:is(:hover, :focus) {
  box-shadow: 0 0 30px 0 hsl(var(--primary-color) / 40%);
}
